<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Accounts</title>
    <link rel="stylesheet" href="assets/css/default.css" type="text/css">
    <link rel="stylesheet" href="assets/css/accounts.css" type="text/css">
    <link rel="stylesheet" href="assets/css/popup.css" type="text/css">
</head>

<body>
    <div id="page">
        <div id="content">
            <div id="topContent">
                <div>
                    <h1>Accounts</h1>
                </div>
                <div>
                    <input type="search" placeholder="Search" name="search">
                    <button type="button" id="addAccountBtn" class="addButton">Add Account</button>
                </div>
            </div>
            <div id="accountsOverview"></div>
        </div>
    </div>


</body>
<script src="assets/js/menu.mjs"></script>
<script src="assets/js/accounts.mjs"></script>
<script src="assets/js/popUp.mjs" type="module"></script>